<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Заказ</title>
</head>
<body>
<div style="display: block; width: 100%; height: 100%; padding: 30px; background: #ebedf1; box-sizing: border-box; font-family: 'TrebuchetMS', 'Tahoma', 'Geneva', sans-serif;">
  <div style="max-width: 600px; width: 100%; background: #ffffff; margin: 0 auto; padding: 40px; box-sizing: border-box;">
    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 0; padding: 0;">
      <tr>
        <td>
          <h1 style="display: block; font-size: 20px; color: #354052; margin: 0; padding: 0;">Заказ на <a style="color: inherit;" href="https://{{ domain }}" target="_blank">{{ domain }}</a></h1>
        </td>
      </tr>
      <tr>
        <td>
          <h2 style="display: block; font-size: 16px; color: #354052; margin: 60px 0 0; padding: 0; letter-spacing: .5px;">Номер: <a style="color: #077dee;" href="https://{{ domain }}/order/{{ uuid }}" target="_blank">{{ uuid }}</a></h2>
          <p style="display: block; font-size: 14px; color: #354052; margin: 16px 0 0; padding: 0;">На дату: {{ dateTo }}</p>
        </td>
      </tr>
      <tr>
        <td>
          {% if status.code == 'new' %}
          <h2 style="display: block; font-size: 14px; color: #b9311b; margin: 40px 0 0; padding: 0; letter-spacing: .5px;">{{ status.displayName }}</h2>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <h3 style="display: block; font-size: 14px; color: #354052; margin: 32px 0 0; padding: 0;">{{ title }}</h3>
          <p style="display: block; font-size: 14px; color: #354052; margin: 16px 0 0; padding: 0;">{{ description }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <h2 style="display: block; font-size: 16px; color: #354052; margin: 40px 0 0; padding: 0; letter-spacing: .5px;">Товары:</h2>

          {% for item in products %}
          <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 20px 0 0; padding: 0;">
            <tr>
              <td valign="top">
                <p style="color: #354052; margin: 0; padding: 0; font-size: 14px;font-weight: 700; white-space: break-spaces;">[{{ item.vendor }}] {{ item.title }} - {{ item.value }}</p>
              </td>
              <td width="200" valign="middle">
                <p style="color: #000000; text-align: right; margin: 0; padding: 0; font-size: 14px; font-weight: 300;">{{ item.number }} x {{ item.price }} {{ item.currency.displayName }}</p>
                <p style="color: #000000; text-align: right; margin: 0; padding: 0; font-size: 14px; font-weight: 700;">= {{ item.finalPrice }} {{ item.currency.value }}</p>
              </td>
            </tr>
          </table>
          {% endfor %}

          <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 24px 0 0; padding: 0;">
            <tr>
              <td style="background: #f5f7fb;">
                <p style="padding: 20px; margin: 0; font-size: 14px; font-weight: bold; text-align: right;">Сумма: {{ finalPrice }} {{ currency.displayName }}</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

</div>
</body>
</html>