<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: block; width: 100%; height: 100%; padding: 30px; background: #ebedf1; box-sizing: border-box; font-family: 'TrebuchetMS', 'Tahoma', 'Geneva', sans-serif;">
    <div style="max-width: 600px; width: 100%; background: #ffffff; margin: 0 auto; padding: 40px; box-sizing: border-box;">
        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 0; padding: 0;">
            <tr>
                <td>
                    <h1 style="display: block; font-size: 20px; color: #354052; margin: 0; padding: 0;">Виктор, ваш заказ на <a style="color: inherit;" href="https://1krug.com" target="_blank">1krug.com</a></h1>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="display: block; font-size: 16px; color: #354052; margin: 60px 0 0; padding: 0; letter-spacing: .5px;">Номер: <a style="color: #077dee;" href="#" target="_blank">WWW-000001</a></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="display: block; font-size: 16px; color: #354052; margin: 40px 0 0; padding: 0; letter-spacing: .5px;">Товары:</h2>
                    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; margin: 20px 0 0; padding: 0;">
                        <tr>
                            <td width="124">
                                <img border="0" width="124" height="124" alt="" src="https://1krug.com/api/gallery/4e9d666c-ec6a-4433-b5a6-650395591787.jpg?size=small" />
                            </td>
                            <td valign="middle">
                                <p style="color: #354052; margin: 0 0 0 20px; padding: 0; font-size: 16px;font-weight: 700; white-space: break-spaces;">75" 8K UHD NanoCell Smart TV</p>
                                <p style="color: #92929d; margin: 8px 0 0 20px; padding: 0; font-size: 13px;">LG</p>
                                <p style="color: #92929d; margin: 16px 0 0 20px; padding: 0; font-size: 12px; letter-spacing: 1px;">Ком-я: Базовая</p>
                            </td>
                            <td width="160" valign="middle">
                                <p style="color: #000000; text-align: right; margin: 0; padding: 0; font-size: 16px; font-weight: 400;">1 x 2 567.00 руб.</p>
                                <p style="color: #92929d; text-align: right; margin: 8px 0 0; padding: 0; font-size: 15px;">= 2 567.00 руб.</p>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-top: 1px solid #e2e2ea; margin: 0; padding: 0;">
                        <tr>
                            <td width="124">
                                <img border="0" width="124" height="124" alt="" src="https://1krug.com/api/gallery/4e9d666c-ec6a-4433-b5a6-650395591787.jpg?size=small" />
                            </td>
                            <td valign="middle">
                                <p style="margin: 0 0 0 20px; padding: 0; font-size: 16px;">Название</p>
                                <p style="margin: 8px 0 0 20px; padding: 0; font-size: 14px; font-weight: 700; text-transform: uppercase;">Бренд</p>
                                <p style="margin: 8px 0 0 20px; padding: 0; font-size: 12px;">комплектация</p>
                            </td>
                            <td width="160" valign="middle">
                                <p style="text-align: right; margin: 0; padding: 0; font-size: 14px;">1 x 2 567.00 руб.</p>
                                <p style="text-align: right; margin: 8px 0 0; padding: 0; font-size: 15px; font-weight: 700;">= 2 567.00 руб.</p>
                            </td>
                        </tr>
                    </table>
                    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-top: 1px solid #e2e2ea; margin: 0; padding: 0;">
                        <tr>
                            <td style="background: #f5f7fb;">
                                <p style="padding: 30px 20px; margin: 0; font-size: 14px; text-align: right;">Сумма: 5 000.00 руб.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="margin: 40px 0; text-align: center;">
                        <a style="display: inline-block; color: #ffffff; background: #1bb934; border-radius: 4px; text-decoration: none; padding: 10px 20px;" href="https://pikassa.io/portal2/pay/i/8f85aab4-83e4-42bb-a141-bb541f4420cd" target="_blank">оплатить заказ</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>